@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.form {
  @apply flex flex-col gap-4;
}
.form-title {
  @apply text-3xl font-bold text-slate-100;
}
.form-label {
  @apply text-sm text-slate-300;
}
.form-input {
  @apply border text-slate-700 border-slate-500 bg-slate-100 rounded-md p-2 focus:outline-none;
}
.form-button {
  @apply border rounded-lg bg-blue-500 hover:bg-blue-600 text-slate-200 px-3 py-2 font-bold mt-3;
}
.form-link {
  @apply text-sm text-slate-100 text-center hover:text-blue-300 hover:underline;
}